{% extends 'base.html.twig' %}

{% block title %}ALAEDIN ELAJI - Projets{% endblock %}

{% block body %}
<section class="projets mt-5">
    <h1 class="mb-5 text-center">Mes projets</h1>
    {% for projet in projets %}
    <div class="row block1">
        <div class="col-4 d-flex align-items-center">
            <img src="{{ projet.image }}" alt="Illustration" class="img-fluid">
        </div>
        <div class="col-4 block2">
            <h2>{{projet.title}}</h2>
            <div class="metadata">Projet effectué entre le {{projet.createdAt | date('d/m/Y')}} et le {{projet.finishedAt | date('d/m/Y')}}</div>
        </div>
        <div class="col-4 block3">
            {{ projet.description | raw }}
            <div class="content">
                <a href="{{ path( 'project_show', {'id': projet.id} )}}" class="btn btn-primary">Voir plus</a>
            </div>
        </div>
    </div>
    <hr>
    {% endfor %}
</section>
{% endblock %}