{% extends "base.html.twig" %}

{% block body %}
<div>
    <div id="titlePojetShow" class="row">
        <h2>{{ projet.title }}</h2>        
        <a href="{{projet.github | raw}}"><i class="fab fa-github"></i></a>
        <a href="{{projet.weblink | raw}}"><i class="fas fa-link"></i></a>
    </div>
    <div class="metadata">Projet effectué entre le {{projet.createdAt | date('d/m/Y')}} et le {{projet.finishedAt | date('d/m/Y')}}</div>
    <div class="content">
        <div class="d-flex justify-content-center">
            <img src="{{projet.image}}" alt="">
        </div>
        <hr>
        {{projet.description | raw}}       
    </div>
</div>
{% endblock %}